<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit colors="true">
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="var/phpunit/coverage"/>
        <log type="coverage-clover" target="var/phpunit/logs/clover.xml"/>
        <log type="junit" target="var/phpunit/logs/junit.xml"/>
    </logging>
</phpunit>

